@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

body {
    background-color: #27374D;
    padding: 0px 10%;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav aside {
    display: flex;
    flex-direction: column;
}
nav aside span {
    content: '';
    padding: 2px;
    width: 15px;
    border-top: 2.5px solid #ffffff;
}
.menu {
    position: absolute;
    background-color: #999999;
    height: 100vh;
    right: 0px;
}
section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section h1 {
    font-size: 48px;
}
button {
    width: 100px;
    margin: 25px 0px;
    padding: 5px 20px;
    color: #27374D;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}
section aside i {
    padding: 0px 10px;
}
